.footer-block {
  background-color: #2c2e3a;
}
.footer-block .mq-info {
  color: #95969c;
  font-size: 12px;
}
.footer-block .footer-items {
  display: flex;
  justify-content: space-between;
}
.footer-block .footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.footer-block .address-block {
  color: #95969c;
  font-size: 16px;
}
.footer-block .address-block p {
  margin: 24px 0;
}
.footer-block .social-media .block {
  opacity: 25%;
  margin-right: 16px;
}
.footer-block .social-media .block:hover {
  opacity: 100%;
  text-decoration: unset;
}
.footer-block .nav-list {
  text-align: right;
  padding-top: 24px;
}
.footer-block .nav-list .menu-item {
  color: #95969c;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  margin: 0 16px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.footer-block .nav-list .menu-item:hover {
  color: #fff;
}
.social-media {
  display: flex;
}
@media (max-width: 991.98px) {
  .footer-block .footer-items {
    display: block;
    text-align: center;
  }
  .footer-block .nav-list,
  .footer-block .mq-info {
    text-align: center;
  }
  .social-media {
    justify-content: center;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

  @media (min-width: 992px) {
.d-lg-none {
    display: none;
  }
}

  @media (min-width: 992px) {
.d-lg-block {
    display: block;
  }
}